.editablecontent_container {
	display: inline-block;
}
.editablecontent_actions {
	float:right;
	text-align: right;
	font-size: x-small;
	color : #777777;
	font-weight: bold;
	font-family: sans-serif;
}
