<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="Tapestry JDO" parallel="false" thread-count="0" annotations="1.5" verbose="2" >
	
	<test name="Tapestry JDO Internal APIs" enabled="false">
		<parameter name="tapestry.web-app-folder" value="src/test/webapp"/>
		<packages>
			<package name="org.tynamo.jdo.internal.test"/>
		</packages>
	</test>
	<test name="Tapestry JDO Integration Tests" enabled="true">
		<parameter name="tapestry.web-app-folder" value="src/test/webapp"/>
		<packages>
			<package name="org.tynamo.jdo.integration"/>
		</packages>
	</test>

</suite>